@mixin panels
{
	#panel-graphics
	{
		.preview
		{
			display: none;
		}

		/* dodging Javascript like Neo
		 * <https://stackoverflow.com/a/58132836/18796078> */
		#graphics-preset[data-chosen='low'] ~ #preview-low
		{ display: block; }
		#graphics-preset[data-chosen='medium'] ~ #preview-medium
		{ display: block; }
		#graphics-preset[data-chosen='high'] ~ #preview-medium
		{ display: block; }
	}
}
