// @use "latte";
@use "frappe";

$useless-gap: 8px;
$small-gap: 4px;
$primary-font: "hackNF", monospace;
$border-radius: 4px;

// $rosewater: latte.$rosewater;
// $flamingo:  latte.$flamingo;
// $pink:      latte.$pink;
// $mauve:     latte.$mauve;
// $red:       latte.$red;
// $maroon:    latte.$maroon;
// $peach:     latte.$peach;
// $yellow:    latte.$yellow;
// $green:     latte.$green;
// $teal:      latte.$teal;
// $sky:       latte.$sky;
// $sapphire:  latte.$sapphire;
// $blue:      latte.$blue;
// $lavender:  latte.$lavender;
// $text:      latte.$text;
// $subtext1:  latte.$subtext1;
// $subtext0:  latte.$subtext0;
// $overlay2:  latte.$overlay2;
// $overlay1:  latte.$overlay1;
// $overlay0:  latte.$overlay0;
// $surface2:  latte.$surface2;
// $surface1:  latte.$surface1;
// $surface0:  latte.$surface0;
// $base:      latte.$base;
// $mantle:    latte.$mantle;
// $crust:     latte.$crust;

$rosewater: frappe.$rosewater;
$flamingo:  frappe.$flamingo;
$pink:      frappe.$pink;
$mauve:     frappe.$mauve;
$red:       frappe.$red;
$maroon:    frappe.$maroon;
$peach:     frappe.$peach;
$yellow:    frappe.$yellow;
$green:     frappe.$green;
$teal:      frappe.$teal;
$sky:       frappe.$sky;
$sapphire:  frappe.$sapphire;
$blue:      frappe.$blue;
$lavender:  frappe.$lavender;
$text:      frappe.$text;
$subtext1:  frappe.$subtext1;
$subtext0:  frappe.$subtext0;
$overlay2:  frappe.$overlay2;
$overlay1:  frappe.$overlay1;
$overlay0:  frappe.$overlay0;
$surface2:  frappe.$surface2;
$surface1:  frappe.$surface1;
$surface0:  frappe.$surface0;
$base:      frappe.$base;
$mantle:    frappe.$mantle;
$crust:     frappe.$crust;

$accent:	$mauve;

@mixin cute-shadow
{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

@mixin emph-shadow
{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
}

