@use "catppuccin";
@use "theme";

.makecfg-tabs
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 60rem;
	column-gap: 4px;

	*
	{
		box-sizing: border-box;
	}

	label
	{
		order: 1; // Put the labels first
		display: block;
		padding: 1.2rem 0;
		// margin-right: 0.2rem;
		text-align: center;
		cursor: pointer;
		background: theme.$surface0;
		font-weight: bold;
		transition: background ease 0.2s;
		opacity: 0.6;

		transition: opacity 0.3s;
		flex-grow: 1;
		max-width: 10rem;
	}

	label:hover
	{
		opacity: 1;
	}

	.tab
	{
		order: 99; // Put the tabs last
		flex-grow: 1;
		width: 100%;
		display: none;
		padding: 1rem;
		background: theme.$surface0;
		border-radius: theme.$border-radius;
	}

	input[type="radio"]
	{
		display: none;
	}
	input[type="radio"]:checked + label
	{
		// background: theme.$surface0;
		opacity: 1;
	}
	input[type="radio"]:checked + label + .tab
	{
		display: block;
	}
}
