@use "catppuccin";
@use "theme";
@use "makecfg_panels";

.makecfg-tabs
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 60rem;
	column-gap: theme.$small-gap;

	*
	{
		// box-sizing: border-box;
	}

	.tab-label
	{
		order: 1; // Put the labels first
		display: block;
		padding: 1.2rem 0;
		margin: theme.$small-gap 0;
		text-align: center;
		cursor: pointer;
		background: theme.$surface0;
		font-weight: bold;
		transition: background ease 0.2s;
		opacity: 0.6;

		transition: opacity 0.3s;
		flex-grow: 1;
		max-width: 10rem;

		border-radius: 8px;
	}

	label:hover
	{
		opacity: 1;
	}

	.tab
	{
		order: 99; // Put the tabs last
		flex-grow: 1;
		width: 100%;
		display: none;
		padding: 1rem;
		background: theme.$surface0;
		border-radius: theme.$border-radius;

		@include makecfg_panels.panels;
	}

	input[type="radio"]
	{
		display: none;
	}
	input[type="radio"]:checked + label
	{
		opacity: 1;
	}
	input[type="radio"]:checked + label + .tab
	{
		display: block;
	}

	.credit
	{
		order: 100;
		margin: 0 auto;
		padding: theme.$useless-gap;
		text-align: center;
		color: theme.$subtext1;
		line-height: 1em;

		a
		{
			color: theme.$accent;
			text-decoration: none;
		}

		a:hover
		{
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
