@use "theme";
@use "makecfg_panels";

$sidebar-width: 150px;

.sidebar
{
	display: flex;
	flex-direction: column;
	background: theme.$crust;
	width: $sidebar-width;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	// padding-top: 40px;

	.tab-button
	{
		display: block;
		// padding: 1.2rem 0;
		text-align: right;
		cursor: pointer;
		// background: theme.$mantle;
		font-weight: bold;
		// opacity: 0.0;

		transition: background ease 0.3s;
		// flex-grow: 1;
		max-width: 10rem;
		max-height: 3rem;

		a, a:link, a:visited, a:hover, a:active
		{
			display: block;
			color: theme.$subtext1;
			line-height: 3rem;
			width: 100%;
			text-decoration: none;
			padding: 0 1rem;
		}

	}
	.active
	{
		// opacity: 1.0;
		background: theme.$mantle;
	}

	.end
	{
		margin-top: auto;
		text-align: center;
		font-size: 0.8em;
	}
}

.beside-bar
{
	margin-right: $sidebar-width;
}

.makecfg-container
{
	background: theme.$crust;
	margin: 0 auto;
	max-width: 60rem;
	padding: theme.$useless-gap;
	display: grid;
	grid-gap: theme.$useless-gap;

	*
	{
		box-sizing: border-box;
	}

	.tabs-buttons
	{
		display: flex;
		flex-wrap: wrap;
		column-gap: theme.$small-gap;
		width: 100%;

	}

	// .tab-button:hover
	// {
	// 	opacity: 1;
	// }

	.tab-content
	{
		flex-grow: 1;
		width: 100%;
		padding: 1rem;
		background: theme.$surface0;
		border-radius: theme.$border-radius;

		@include makecfg_panels.panels;
	}

	.credit
	{
		order: 100;
		margin: 0 auto;
		padding: theme.$useless-gap;
		text-align: center;
		color: theme.$subtext1;
		line-height: 1em;

		a
		{
			color: theme.$accent;
			text-decoration: none;
		}

		a:hover
		{
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
