@use "catppuccin";
@use "theme";

:root
{
	font-family: theme.$primary-font;
	color: theme.$text;
}

body
{
	margin: 0 auto;
	background-color: theme.$base;
	min-height: 100%;
	/* padding: theme.$useless-gap 0; */
}

