@use "catppuccin";
@use "theme";

// : root
// {
	// 	font-family: theme.$primary-font;
	// 	color: theme.$text;
// }

// body
// {
	// 	margin: 0 auto;
	// 	background-color: theme.$base;
	// 	min-height: 100%;
	// 	/* padding: theme.$useless-gap 0; */
// }

body
{
	background: theme.$base;
	font-family: theme.$primary_font;
	color: theme.$text;
	line-height: 1.618em;
}

.select-dropdown
{
	background-color: theme.$overlay2;
	border-radius: theme.$border-radius;

	select
	{
		max-width: 100%;
		padding: 8px 24px 8px 10px;
		border: none;
		background-color: transparent;
		// -webkit-appearance: none;
		// -moz-appearance: none;
		appearance: none;
		color: theme.$text;
	}
}
