@use "theme";

.binds-container
{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;

    row-gap: theme.$useless-gap;

    .bind-box
    {
        @include theme.box;

        display: flex;
        flex-direction: row;
        width: 32%; // slightly less than a third, for three columns
        padding: 0;
        font-size: 0.8em;

        .key-name, .bound-to
        {
            @include theme.cute-shadow;
            padding: theme.$small-gap;
            line-height: theme.$line-height;
            overflow: scroll;
            border: none;
            font-family: theme.$primary-font;
            color: theme.$text;
        }

        .key-name
        {
            background: theme.$surface0;
            width: 34%; // unrelated to the .bind-box, just happens to be 33
        }

        .bound-to
        {
            width: 100%;
            background: theme.$surface2;
            margin: auto;
            margin-right: 0;
            text-align: right;
            order: 1;
        }
    }
}
