@use "theme";

.scripts-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    padding: 1rem;
    gap: 12px;

    .script-info
    {
        border-radius: theme.$border-radius;
        background: theme.$surface0;
        width: 17rem;
        transition: box-shadow ease 0.3s;
        @include theme.cute-shadow;

        .preview
        {
            background: theme.$crust;
            aspect-ratio: 16 / 9;
            width: 100%;
        }

        .info
        {
            padding: 0.2rem;

            .top-container
            {
                display: flex;

                .name
                {
                    margin: 0;
                    margin-left: 0.5rem;
                    margin-right: auto;

                    font-weight: bold;
                    font-size: 1.1em;
                }
                .addlbl
                {
                }
                .addbtn
                {
                    margin-left: auto;
                }
            }

            .desc
            {
                line-height: 1.618em;
                margin: 0;
                font-size: 0.9em;
                padding: theme.$small-gap;
            }
        }
    }

    .script-info:hover
    {
        @include theme.emph-shadow;
    }

    .active
    {
        color: theme.$mantle;
        background: theme.$green;
    }
}
