@use "theme";

.scripts-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;

    // padding: 1rem;
    gap: 12px;
    
    .script-info
    {
        border-radius: theme.$border-radius;
        background: theme.$surface0;
        width: 17rem;
        transition: all 0.3s;
        // transition: box-shadow 0.3s;
        @include theme.cute-shadow;

        .preview
        {
            background: theme.$crust;
            aspect-ratio: 16 / 9;
            width: 100%;
        }

        .info
        {
            padding: 0.2rem;

            .top-container
            {
                display: flex;

                .name
                {
                    margin: 0;
                    margin-left: 0.5rem;
                    margin-right: auto;

                    font-weight: bold;
                    font-size: 1.1em;
                }
                .addbtn
                {
                    margin-left: auto;
                    height: theme.$line-height;
                }
            }

            .desc
            {
                line-height: theme.$line-height;
                margin: 0;
                font-size: 0.9em;
                color: theme.$subtext0;
                padding: theme.$small-gap;
            }

            .script-options
            {
                text-align: left;
                display: none;
            }
        }
    }

    .script-info:hover
    {
        @include theme.emph-shadow;
    }

    .script-info.active
    {
        color: theme.$mantle;
        background: theme.$green;

        .desc
        {
            color: theme.$crust;
        }

        .script-options
        {
            display: block;
        }
    }
}
